#map {
    height:100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  margin: 8px 0 8px 8px;
  background-color: rgba(245, 245, 220, .8);
  border: solid 1px #805725;
  z-index: 10;
}

.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: #C1E6EE;
    background-image: url(../img/doctor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Alfa Slab One', cursive;
}

.welcome-content {
    width: 25%;
    margin: 0px auto;
    background-color: rgba(245, 245, 220, .8);
    padding: 10px;
    border-radius: 5px;
}

.block-center {
    margin: 0 auto;
}

.ws-header {
    font-size: 80px;
    margin-top: 10%;
    color: #805725;
}

.location {
    background: rgba(255, 255, 255, .7);
    padding: 1px 2px 1px 10px;
    margin-bottom: 4px;
    border-radius: 3px;
    border: solid 1px #C3B593;
}

.location:hover {
    background-color: #EFDDAC;
    border: 1px solid #7D715A;
}

.hide-welcome-screen {
    transform: translateY(-150%);
    transition: .5s ease-in-out;
}

.show-welcome-screen {
    top: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.hide {
    display: none;
}

.margin-top-10px {
    margin-top: 10px;
}

.btn-ns-default {
    background-color: #EFDDAC;
    border: solid 1px #805725;
}

.menu label {
    color: #613B0E;
}

.ns-control {
    border: solid 1px #805725;
}

.btn-ns-default:hover {
    background-color: #9E8464;
}

.panel-default > .panel-heading{
    background-color: #DAC5A0;
    border-bottom: solid 1px #805725;
}

.error {
    color: red;
}

.pointer {
    cursor: pointer;
}

.possible-address-list {
    overflow-y: auto;
    height: 300px;
}

.doctor-bio {
    padding: 5px;
    border: 1px solid #8a6d3b;
    border-radius: 5px;
    margin-top: 5px;
    background: #F1F0DA;
}

.doctor-photo {
    border-radius: 50%;
    border: dashed 10px #8a6d3b;
}
#addressList.address-list-container {
    cursor: pointer;
}

#addressList .location:hover {
    background-color: #E8DCBE;
}

@media (max-width: 768px) {
    .hide-welcome-screen {
        display: none;
    }

    .address-list-container {
        position: absolute;
        top: 5%;
        left: 10%;
        background-color: rgba(245, 245, 220, 1);
    }

    .shift-top {
        background-color: rgba(245, 245, 220, 1);
        transform: translateY(-100%);
        transition: .3s ease-in-out;
    }
    .shift-down {
        background-color: rgba(245, 245, 220, .6);
        transform: translateY(4%);
        transition: .3s ease-in-out;
    }

    .menu {
        width: 95%;
    }
    .ws-header {
        font-size: 40px;
        margin-top: 20%;
    }
    .welcome-content {
        width: 80%;
        font-size: 16px;
    }
}
