#map {
    height:100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  margin: 8px 0 8px 8px;
  background: rgba(0, 0, 0, .3);
  z-index: 10;
}

.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 11;
    background-color: #C1E6EE;
    background-image: url(../img/city_scape_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.location {
    background: rgba(255, 255, 255, .7);
    padding: 2px 2px 2px 10px;
    margin-bottom: 4px;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .menu {
        width: 95%;
    }
}
.slide-up {
    transform: translateY(-100vh);
    transition: .5s ease-in-out;
}
